<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gtercn.carhome.cms.dao.shopping.AdvertisementMapper">
	<sql id="Base_Column_List">
		id, title, picture_path, goods_id,city_id,insert_time,
		update_time,(select goods_title from inn_goods where id=goods_id) goodsTitle
	</sql>
	<!-- <![CDATA[ right(left(content,position('</' in content)-1),position('>' 
		in content)) as content,]]> -->

	<!-- 查询所有 -->
	<select id="queryAllData" resultType="com.gtercn.carhome.cms.entity.shopping.Advertisement" parameterType="java.util.Map">
		select <include refid="Base_Column_List" />
		from inn_advertisement
		<where>
			city_id=(select id from tb_city where city_code=#{cityCode,jdbcType=VARCHAR})
			<if test="title!=null and title!=''">
				and title like '%${title}%'
			</if>
			<if test="beginTime!=null and beginTime!=''">
				and DATE_FORMAT(insert_time,'%Y-%m-%d')&gt;=#{beginTime}
			</if>
			<if test="endTime!=null and endTime!=''">
				and DATE_FORMAT(insert_time,'%Y-%m-%d')&lt;=#{endTime}
			</if>
		</where>
		order by insert_time desc limit #{beginResult},#{pageSize}
	</select>

	<!-- 查询所有数据数 -->
	<select id="getTotalCount" resultType="java.lang.Integer"
		parameterType="java.util.Map">
		select count(1) from inn_advertisement
		<where>
			city_id=(select id from tb_city where city_code=#{cityCode,jdbcType=VARCHAR})
			<if test="title!=null and title!=''">
				and title like '%${title}%'
			</if>
			<if test="beginTime!=null and beginTime!=''">
				and DATE_FORMAT(insert_time,'%Y-%m-%d')&gt;=#{beginTime}
			</if>
			<if test="endTime!=null and endTime!=''">
				and DATE_FORMAT(insert_time,'%Y-%m-%d')&lt;=#{endTime}
			</if>
		</where>
	</select>

	<!-- 插入数据 -->
	<insert id="insert" parameterType="com.gtercn.carhome.cms.entity.shopping.Advertisement">
		insert into inn_advertisement
		(id, title, picture_path,goods_id,city_id,delete_flag,
		insert_time,update_time)
		values
		(#{id,jdbcType=VARCHAR},#{title,jdbcType=VARCHAR},
		#{picturePath,jdbcType=VARCHAR},#{goodsId,jdbcType=VARCHAR},
		#{cityId,jdbcType=VARCHAR},0,now(),now())
	</insert>

	<!-- 修改 -->
	<update id="update" parameterType="com.gtercn.carhome.cms.entity.shopping.Advertisement">
		update inn_advertisement
		set
		title = #{title,jdbcType=VARCHAR},
		picture_path = #{picturePath,jdbcType=VARCHAR},
		city_id = #{cityId,jdbcType=VARCHAR},
		goods_id = #{goodsId,jdbcType=INTEGER}
		where
		id = #{id,jdbcType=VARCHAR}
	</update>

	<select id="selectByPrimaryKey" resultType="com.gtercn.carhome.cms.entity.shopping.Advertisement" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from inn_advertisement
		where id = #{id,jdbcType=VARCHAR}
	</select>

	<delete id="deleteBatch" parameterType="java.lang.String">
		delete from inn_advertisement where id in
		<foreach item="item" collection="ids" open="(" separator=","
			close=")">
			#{item}
		</foreach>
	</delete>
</mapper>