<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gtercn.carhome.cms.dao.shopping.GoodsMapper" >
  
  <sql id="Base_Column_List" >
    id, brand_id, score, sku_code, prime_price, promotion_price, cost_price, product_area, 
    goods_title, goods_synopsis, goods_description,goods_detail, search_tag, stock, big_picture, small_picture, 
    sold_number, is_hot, is_new, up_time, down_time, status, city_code, update_time,weight,create_time,
    (select category_id from inn_product where id=product_id) as categoryId,
    (select count(1) from inn_comment where goods_id=G.id) as commentCount,
    round((select count(1) as total from inn_comment  where goods_id=G.id)/(select count(1) as cou from inn_comment where goods_id=G.id and status!='B')*100,0)
    as percentage 
  </sql>
  
  <!-- 查询所有 -->
	<select id="queryAllData" resultType="com.gtercn.carhome.cms.entity.shopping.Goods" parameterType="java.util.Map">
		select * from inn_goods
		<where>
			city_code=#{cityCode}
			<if test="categoryId!=null and categoryId!=''">
				and brand_id in (select id from inn_goods_brand where category_id=#{categoryId})
			</if>
			<if test="brandId!=null and brandId!=''">
				and brand_id =#{brandId}
			</if>
			<if test="goodsTitle!=null and goodsTitle!=''">
				and goods_title like '%${goodsTitle}%'
			</if>
			<if test="beginTime!=null and beginTime!=''">
				and DATE_FORMAT(up_time,'%Y-%m-%d')&gt;=#{beginTime}
			</if>
			<if test="endTime!=null and endTime!=''">
				and DATE_FORMAT(up_time,'%Y-%m-%d')&lt;=#{endTime}
			</if>
		</where>
		order by up_time desc limit #{beginResult},#{pageSize}
	</select>
	
	<!-- 查询所有数据数 -->
	<select id="getTotalCount" resultType="java.lang.Integer" parameterType="java.util.Map">
		select count(1) from inn_goods
		<where>
			city_code=#{cityCode}
			<if test="categoryId!=null and categoryId!=''">
				and brand_id in (select id from inn_goods_brand where category_id=#{categoryId})
			</if>
			<if test="brandId!=null and brandId!=''">
				and brand_id =#{brandId}
			</if>
			<if test="goodsTitle!=null and goodsTitle!=''">
				and goods_title like '%${goodsTitle}%'
			</if>
			<if test="beginTime!=null and beginTime!=''">
				and DATE_FORMAT(up_time,'%Y-%m-%d')&gt;=#{beginTime}
			</if>
			<if test="endTime!=null and endTime!=''">
				and DATE_FORMAT(up_time,'%Y-%m-%d')&lt;=#{endTime}
			</if>
		</where>
	</select>
  <!-- 主键查询 -->
  <select id="selectByPrimaryKey" resultType="com.gtercn.carhome.cms.entity.shopping.Goods" parameterType="java.util.Map" >
    select <include refid="Base_Column_List" /> 
    from inn_goods G
    <where>
    	status =0 and id = #{id,jdbcType=VARCHAR}
    </where>
  </select>
  
</mapper>