<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gtercn.carhome.cms.dao.shopping.ProductMapper">
	<sql id="Base_Column_List">
		id, category_id, brand_id, product_name, spu_code, synopsis, detail,create_time
	</sql>
	<!-- <![CDATA[ right(left(content,position('</' in content)-1),position('>' 
		in content)) as content,]]> -->

	<!-- 查询所有 -->
	<select id="queryAllData" resultType="com.gtercn.carhome.cms.entity.shopping.Product" parameterType="java.util.Map">
		select <include refid="Base_Column_List" />,
		(select title from inn_goods_category C where C.id=P.category_id) categoryName,
		(select cn_name from inn_goods_brand B where B.id=P.brand_id) brandName 
		from inn_product P
		<where>
			<if test="title!=null and title!=''">
				title like '%${title}%'
			</if>
			<if test="beginTime!=null and beginTime!=''">
				and DATE_FORMAT(insert_time,'%Y-%m-%d')&gt;=#{beginTime}
			</if>
			<if test="endTime!=null and endTime!=''">
				and DATE_FORMAT(insert_time,'%Y-%m-%d')&lt;=#{endTime}
			</if>
		</where>
		order by create_time desc limit #{beginResult},#{pageSize}
	</select>

	<!-- 查询所有数据数 -->
	<select id="getTotalCount" resultType="java.lang.Integer" parameterType="java.util.Map">
		select count(1) from inn_product
		<where>
			<if test="title!=null and title!=''">
				title like '%${title}%'
			</if>
			<if test="beginTime!=null and beginTime!=''">
				and DATE_FORMAT(insert_time,'%Y-%m-%d')&gt;=#{beginTime}
			</if>
			<if test="endTime!=null and endTime!=''">
				and DATE_FORMAT(insert_time,'%Y-%m-%d')&lt;=#{endTime}
			</if>
		</where>
	</select>

	<!-- 插入数据 -->
	<insert id="insert" parameterType="com.gtercn.carhome.cms.entity.shopping.Product">
		insert into inn_Product
		(id, title, picture_path,url,city_code,delete_flag,
		insert_time,update_time)
		values
		(#{id,jdbcType=VARCHAR},#{title,jdbcType=VARCHAR},
		#{picturePath,jdbcType=VARCHAR},#{url,jdbcType=VARCHAR},
		#{cityCode,jdbcType=VARCHAR},0,now(),now())
	</insert>

	<!-- 修改 -->
	<update id="update" parameterType="com.gtercn.carhome.cms.entity.shopping.Product">
		update inn_Product
		set
		title = #{title,jdbcType=VARCHAR},
		picture_path = #{picturePath,jdbcType=VARCHAR},
		url = #{url,jdbcType=INTEGER}
		where
		id = #{id,jdbcType=VARCHAR}
	</update>

	<select id="selectByPrimaryKey" resultType="com.gtercn.carhome.cms.entity.shopping.Product" parameterType="java.lang.String">
		select <include refid="Base_Column_List" />
		from inn_product
		where id = #{id,jdbcType=VARCHAR}
	</select>

	<delete id="deleteBatch" parameterType="java.lang.String">
		delete from inn_product where id in
		<foreach item="item" collection="ids" open="(" separator=","
			close=")">
			#{item}
		</foreach>
	</delete>
</mapper>